body {
    background-color: #001042;
}

h1 {
    color: #88f3da;
    font-family : Showcard Gothic;
    font-size :60px;
}

p {
    color: #f45cff;
    font-family: DejaVu Sans Light;
    font-size:20px;
}
